<section class="aboutme">
    <div class="row g-2 mx-lg-3 pt-5 pb-5">
        <img class="col-6 imageLB" src="https://static.wixstatic.com/media/055af9_372c28cca4db4a6588e5c201d2ec9eb1~mv2.jpg/v1/fill/w_1500,h_711,fp_0.59_0.25,q_85,enc_auto/055af9_372c28cca4db4a6588e5c201d2ec9eb1~mv2.jpg;
    " alt="">
        <div class="col-6 my-3">
            <h2 class="d-flex justify-content-center pt-5">LUCIANA BIONDI INTERIOR DESIGN</h2>
            <h6 class="d-flex justify-content-center subtext textabout">Bogotá, Colombia</h6>
            <hr>
            <p></p>

            <p class="container"> Nací en Venezuela,me gradue en el Istituto Europeo di Design en Roma, Italia.
                Gracias a la curiosidad por aprender sobre mis raíces italianas, emprendí un viaje que cambiaría mi vida
                por completo; en Italia aprendí a hacerme sensible a los lugares que visitaba, entendí que uno siempre
                vuelve a esos espacios que te llenan de buena energía bien sea por su confort, olor, temperatura y/o
                diseño.
                Mi compromiso, es guiar de la mano a los clientes en cada proyecto y que al final del día, siempre
                quieran volver al lugar que diseñé especialmente para cada uno de ellos.</p>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="name">
        Emily Sloan
    </div>
    <div class="content">
        <h2>About me</h2>
        <p>Nací en Venezuela,me gradue en el Istituto Europeo di Design en Roma, Italia.
            Gracias a la curiosidad por aprender sobre mis raíces italianas, emprendí un viaje que cambiaría mi vida
            por completo; en Italia aprendí a hacerme sensible a los lugares que visitaba, entendí que uno siempre
            vuelve a esos espacios que te llenan de buena energía bien sea por su confort, olor, temperatura y/o
            diseño.
            Mi compromiso, es guiar de la mano a los clientes en cada proyecto y que al final del día, siempre
            quieran volver al lugar que diseñé especialmente para cada uno de ellos.</p>
        <div class="links">
            <a href="http://blog.ajduke.in" target="_blank">http://blog.ajduke.in</a>
            <a href="https://codepen.io/ajduke" target="_blank">https://codepen.io/ajduke</a>
            <a href="" class="location">Mumbai, India</a>
        </div>

        <div class="stats">
            <div class="block">
                <div class="num">350</div>
                <span class="text">Followers</span>
            </div>
            <div class="block">
                <div class="num">245</div>
                <span class="text">Following</span>
            </div>
            <div class="block">
                <div class="num">24</div>
                <span class="text">Pens</span>
            </div>
        </div>

    </div>
</div>

<div class="pepe" #canvasContainer></div>
